body {
    background-image: url("file:///C:/Users/HP/Downloads/WhatsApp%20Image%202025-02-21%20at%201.52.42%20PM.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
  }
  body h1 {
    color: black;
  }
  label {
    color: black;
  }
  #regform {
    width: 500px;
    margin: 250px auto;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 2px, 2px, 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: large;
  }
  #regform h1 {
    text-align: center;
  }
  .btn {
    text-align: center;
  }
  