{% extends "marketplace/includes/base.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'marketplace/addproduct.css' %}" />
{% endblock style %}

{% block content %}
{% include "marketplace/includes/navbar.html" %}
  <body class="text-dark">
    <div class="container">
      <h2 class="text-center pt-3">ADD PRODUCT</h2>

      <div class="product-container">
        
        <div class="details-section mt-4">
          <h4 class="ms-5">Select a product</h4>
          <p id="productDescription" class="ms-5">Click an image to view details.</p>
         
          <div class="carousel-section ms-5">
            <div class="carousel-container">
              <div id="productCarousel" class="carousel slide" >
                <div class="carousel-inner">
                  {% for vegetable in vegetables %}
                  <div class="carousel-item {% if forloop.first %} active {% endif %}">
                    <img
                      src="{{ vegetable.formated_image }}"
                      class="d-block w-100"
                      alt="{{ vegetable.name }}"
                      onclick="selectProduct('{{ vegetable.id }}', '{{ vegetable.name }}', '{{ vegetable.description }}')"
                    />
                  </div>
                  {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </button>
              </div>

              <div class="value-section mt-3">
                <label for="product" class="form-label">Selected Product:</label>
                <select class="form-select" id="product" name="category">
                  {% for vegetable in vegetables %}
                    <option value="{{ vegetable.id }}">{{ vegetable.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="form">
          <form class="mt-3" action="#" method="POST">
            {% csrf_token %}
            
            <div class="form-group">
              <label for="quantity" class="form-label">Quantity:</label>
              <input type="number" id="quantity" class="form-control" name="quantity" placeholder="Enter quantity" required />
            </div>

            <div class="form-group">
              <label for="price" class="form-label mt-2">
                <i style="color:yellow;" class="fa-solid fa-sack-dollar"></i> Price (per unit):
              </label>
              <input type="number" id="price" class="form-control" name="prize_per_kg" placeholder="Enter price" required />
            </div>

            <div class="form-group">
              <label class="form-label" for="description">Enter the Description</label>
              <textarea class="form-control" rows="5" id="description" name="description" required></textarea>
            </div>

            <div>
              <button type="submit" class="btn btn-lg btn-primary my-3">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <script>
      function selectProduct(productId, productName, productDescription) {
        document.getElementById("product").value = productId;
        document.getElementById("productDescription").innerText = productDescription;
      }
    </script>

{% endblock content %}
