{% extends "marketplace/includes/base.html" %}
{% block content %}
    
    {% include "marketplace/includes/navbar.html" %}

    <!-- Hero Section -->
    <header class="hero">
        <div class="container">
            <h1 class="fw-bold display-4">Welcome to Farmer Bazar</h1>
            <p class="fw-semibold fs-4">Fresh & Organic Produce Directly from Farmers</p>
            <div class="container d-flex justify-content-center">
                <div class="w-75">
                    <form method="GET" action="{% url 'marketplace:index' %}">
                        <input class="form-control mb-2 rounded-pill p-3" name="query" type="search" placeholder="Search for shops or products" aria-label="Search">
                        <div class="text-center">
                            <button class="btn btn-success px-4 py-2 rounded-pill" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
            
            
        </div>
    </header>

    <!-- Shops Section -->
    <section class="container my-5">
        <h2 class="text-center mb-4">Featured Farmer Shops</h2>
        <div class="row">
            {% for shop in page_obj %}
    <div class="col-md-4 p-2">
        <div class="card shadow">
            <img src="{{shop.image}}" class="card-img-top" alt="Shop 1">
            <div class="card-body">
                <h5 class="card-title">{{shop.shop_name}}</h5>
                <p class="card-text"> </p>
                  <strong>Shop Name:</strong>{{shop.name}}
<a href="/?query={{shop.vegetables.vegetable}}">{{ shop.vegetables.vegetable }}</a> <br>

<strong>District:</strong> 
<a href="/?query={{shop.district.name}}">{{ shop.district.name }}</a> <br>
                
                <p><strong>Description:</strong>{{shop.shop_description|truncatechars:36}}</p>
                <p><strong>Review:</strong> ⭐⭐⭐⭐☆</p>
                <div class="d-flex justify-content-between">
                    <span></span> <!-- Empty span to push button to the right -->
                    <a href="{% url "marketplace:shop" slug=shop.slug%}" class="btn btn-success rounded-pill">View Shop</a>
                </div>
            </div>
        </div>
    </div>
{% empty %}
    <h2 class="text-center">No shops yet</h2>
{% endfor %}


    </section>
    {% include "marketplace/includes/pagenation.html" %}
    <!-- Footer -->
    {% include "marketplace/includes/footer.html" %}

{% endblock content %}