{% extends "marketplace/includes/base.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "marketplace/myshops.css" %}" />
{% endblock style %}

{% block content %}
    {% include "marketplace/includes/navbar.html" %}

    <div class="container mt-4">
        <h2 class="text-center mb-4 section-title">My Shops</h2>
        
        {% for shop in myshops %}
            <div class="shop-card">
                <div class="shop-image">
                    <img src="{{ shop.formated_image }}" alt="{{ shop.name }}">
                </div>
                <div class="shop-details">
                    <h3 class="shop-name">{{ shop.name }}</h3>
                    <p class="shop-description">{{ shop.shop_description|truncatechars:300 }}</p>

                    

                    <div class="shop-buttons d-flex justify-content-between">
                        <a href="#" class="btn btn-primary rounded-pill view">View Shop</a>
                        <a href="#" class="btn btn-success rounded-pill  add-product">Add Product</a>
                        <div class="shop-rating">
                          <span class="stars" data-rating="{{ shop.rating }}"></span>
                          <span class="rating-value">Rating:⭐⭐⭐⭐⭐({{ shop.rating }}/5)</span>
                      </div>
                    </div>
                    
                </div>
                
            </div>
        {% empty %}
            <div class="no-shop">
                <p>You don’t have a shop yet.</p>
                <a href="#" class="btn btn-create">Create a New Shop</a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
