{% extends "marketplace/includes/base.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "marketplace/myshops.css" %}" />
{% endblock style %}

{% block content %}
{% include "marketplace/includes/navbar.html" %}

    <div class="container mt-4">
        <h2 class="text-center mb-4 section-title">My Shops</h2>
        
        {% for shop in myshops %}
            <div class="shop-card">
                <div class="shop-image">
                    <img src="{{ shop.formated_image }}" alt="{{ shop.name }}">
                </div>
                <div class="shop-details">
                    <h3 class="shop-name">{{ shop.name }}</h3>
                    <p class="shop-description">{{ shop.shop_description|truncatechars:300 }}</p>

                    

                    <div class="shop-buttons d-flex justify-content-between">
                        <a href="{% url 'marketplace:shop' slug=shop.slug %}" class="btn btn-primary rounded-pill view">View Shop</a>
                        <a href="{% url 'marketplace:addproduct' shopname=shop.name %}" class="btn btn-success rounded-pill  add-product">Add Product <i class="fa-solid fa-square-plus"></i></a>
                        <div class="shop-rating">
                            <p><strong>Rating:</strong> 
                                {% for i in "12345"|make_list %}
                                    {% if forloop.counter <= shop.average_rating %}
                                        ⭐
                                    {% else %}
                                        ☆
                                    {% endif %}
                                {% endfor %}
                                ({{ shop.average_rating }}/5)
                            </p>
                      </div>
                    </div>
                    
                </div>
                
            </div>
        {% empty %}
            <div class="no-shop">
                <p>You don’t have a shop yet.</p>
            </div>
        {% endfor %}
        <div class="d-flex justify-content-center pb-3">
            <a href="{% url 'marketplace:addshop' %}" class="btn btn-secondary rounded-pill px-4 py-1">Create a New Shop</a>
        </div>
        
        
    </div>
    {% include "marketplace/includes/footer.html" %}
{% endblock content %}
