{% extends "marketplace/includes/base.html" %}

{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static "marketplace/forms.css" %}" />
{% endblock style %}

{% block content %}
  

    <div class="container p-4" id="regform">
      <h1>Set Password</h1>
      <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label class="form-label" type='password' for="password">Enter your password</label>
          {% if form.password.errors %}
            {% for error in form.password.errors %}
              <span class="text-danger">{{error}}</span>
            {% endfor %}
          {% endif %}
          <input
            class="form-control"
            
            id="password"
            name="password"
            type='password'
          />

        </div>
        <div class="form-group">
            <label class="form-label" for="cnfrm_password" >Enter your User password</label>
            {% if form.cnfrm_password.errors %}
            {% for error in form.cnfrm_password.errors %}
              <span class="text-danger">{{error}}</span>
            {% endfor %}
          {% endif %}
            <input
              class="form-control"

              id="cnfrm_password"
              name="cnfrm_password"
              type='password'
            />
        </div>
        {% include "marketplace/includes/nonfeilderrors.html" %}
        <div class="text-center">
            <button class="mt-4 btn btn-success" type="submit" value="Submit">
              Submit
            </button>
          </div>
        </form>
      </div>
        
    {% include "marketplace/includes/messages.html" %}
    
</html>

{% endblock content %}
