{% extends "marketplace/includes/base.html" %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#">🌿 Farmer Bazar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Shops</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Register Shop</a></li>
                    <li class="nav-item"><a class="nav-link btn btn-light text-success px-3" href="#">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Hero Section -->
    <header class="hero">
        <div class="container">
            <h1 class="fw-bold display-4">Welcome to Farmer Bazar</h1>
            <p class="fw-semibold fs-4">Fresh & Organic Produce Directly from Farmers</p>
            <div class="container d-flex justify-content-center">
                <div class="w-75">
                    <input class="form-control mb-2 rounded-pill p-3" type="search" placeholder="Search for shops..." aria-label="Search">
                    <div class="text-center">
                        <button class="btn btn-success px-4 py-2 rounded-pill" type="submit">Search</button>
                    </div>
                </div>
            </div>
            
        </div>
    </header>

    <!-- Shops Section -->
    <section class="container my-5">
        <h2 class="text-center mb-4">Featured Farmer Shops</h2>
        <div class="row">
            {% for post in page_obj %}
                <div class="col-md-4">
                    <div class="card shadow">
                        <img src="vegetables/tomato.webp" class="card-img-top" alt="Shop 1">
                        <div class="card-body">
                            <h5 class="card-title">Green Farm</h5>
                            <p class="card-text">District: Punjab</p>
                            <a href="#" class="btn btn-success">View Shop</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <h2 class="text-center">No shops yet</h2>
            {% endfor %}
    </section>

    <!-- Footer -->
    <footer class="bg-dark text-white text-center">
        <p>© 2025 Farmer Bazar | Connecting Farmers & Consumers</p>
    </footer>

{% endblock content %}